<ion-header [translucent]="true">

</ion-header>



<ion-content [fullscreen]="true">
  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  
    <!-- The Timeline -->
    <body>
        
   
    <ul class="timeline">
    
        <!-- Item 1 -->
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">informasi  alur  penncarian fee</span>
                   
                </div>
                <div class="desc">  <p>
                    <a style="color: rgb(62, 62, 255);">Pengecekan nominal fee pendaftaran </a>dapat di cek melalui menu  <b>Data</b> di bagian menu paling kanan di bawah
                   </p>
                <P>
                    pastikan  terdepat jumlah fee pendaftaran
                </P>
                </div>
            </div>
        </li>
      
        <!-- Item 2 -->
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag">Konfirmasi ke bagian BAAK</span>
                  
                </div>
                <div class="desc"><a style="color: black" class="userimage"> <b>BAAK</b> ,Silahkan anda untuk konfirmasi dengan menunjukan data pendaftaran dengan status "Sudah Membayar"</a></div>
            </div>
        </li>
    
        <!-- Item 3 -->
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">Melakukan Kegiatan Pra-Studi</span>
                    <br>
                  <div>  <button type="button" name="button" class="btn login_btn" (click)="yaelah()"> Cek Fee</button>  </div>
                </div>
               
            </div>
        </li>
      
    </ul>
</body>
  
</ion-content>
