<ion-header [translucent]="true">
	
</ion-header>

<ion-content [fullscreen]="true">

	
	<ul class="sidebar">
		
			
		
			
		<button (click)="lohin()"><li>Home</li></button>
		<button (click)="pmb()"><li>Alur PMB</li></button>
		<button (click)="pencai()"><li>Pencairan fee</li></button>
		<button (click) = "mahasis()"><li>Mahasiswa</li></button>
		<button (click) = "stat()" ><li >Status</li></button>
		<button  (click)="profilep()"><li>Profile</li></button>
	  </ul>
	  
	  <input type="checkbox" id="sidebar-btn" class="sidebar-btn" checked />
	  <label for="sidebar-btn"></label>
	
	  <div class="content">
		
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container bootdey">
	<div class="row gutters">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
	<div class="card">
	<div class="card-body">
	<!-- Timeline start -->
	<div class="timeline">
		<div class="timeline-row">
			<div class="timeline-time">
				PENDAFTARAN<small>UNIVERSITAS BINANIAGA INDONESIA</small>
			</div>
			<div class="timeline-dot fb-bg"></div>
			<div class="timeline-content">
				<i class="fa fa-map-marker"></i>
				<h4>Pendaftaran</h4>
				<p>
					<a style="color: rgb(62, 62, 255);">Kegiatan Pendaftaran</a><a style="color: #000;"> Dapat dilakukan mulai </a><b style="color: black;">Tanggal 2 Januari s/d 31 Agustus 2022</b>
				   </p>
			
			</div>
		</div>
		<div class="timeline-row">
			<div class="timeline-time">
				Mengikuti tes potensi Akademik Dan Wawancara<small>UNIVERSITAS BINANIAGA INDONESIA</small>
			</div>
			<div class="timeline-dot green-one-bg"></div>
			<div class="timeline-content green-one">
				<i class="fa fa-warning"></i>
				<h4>Test Akademik</h4>
			    <p> <a style="color: rgb(62, 62, 255);">Tes Potensi Akademik (TPA)</a>
					<a style="color: #000;">Kegiatan ini dilakukan untuk mengetahui kompetensi umum dimana ada 3 jenis pertanyaan diantaranya adalah pertanyaan </a> 
					<b style="color: #000;">logika, matematika, dan umum</b>, 
					<a style="color: rgb(62, 62, 255);">TPA</a> 
					<a style="color: #000;">dilakukan menggunakan berbasis komputer dan diselenggarakan OFFLINE/ONLINE. </a>
					<a style="color: rgb(62, 62, 255);">WAWANCARA</a>
					 <a style="color: #000;">Kegiatan ini dilakukan untuk mengetahui minat dan bakat calon mahasiswa.</a>
					 <b style="color: #000;">Tanggal 2 Januari s/d 31 Agustus 2022</b>
				   </p>
			
			</div>
		</div>
		<div class="timeline-row">
			<div class="timeline-time">
				pengunguman hasil TPA dan melakukan biaya daftar ulang<small>UNIVERSITAS BINANIAGA INDONESIA</small>
			</div>
			<div class="timeline-dot green-two-bg"></div>
			<div class="timeline-content green-two">
				<i class="fa fa-list"></i>
				<h4>pengumuman Hasil  TPA</h4>
				<p> <a style="color: rgb(62, 62, 255);">Kegiatan Daftar Ulang</a> 
					<a style="color: #000;">bisa dilakukan secara ONLINE atau OFFLINE</a>

				</p>
				<div>
					<p style="color: #000;">
						Setelah ada pengumuman mengenai lolos atau tidaknya terhdap nilai TPA,
						 maka calon mahasiswa yang dinyatakan LOLOS bisa langsung melakukan kegiatan DAFTAR ULANG
					  </p>
				</div>
			</div>
		</div>
		<div class="timeline-row">
			<div class="timeline-time">
				Melakukan Kegiatan Pra-Studi<small>UNIVERSITAS BINANIAGA INDONESIA</small>
			</div>
			<div class="timeline-dot green-three-bg"></div>
			<div class="timeline-content green-three">
				<i class="icon-directions"></i>
				<h4>Kegiatan pra studi</h4>
				<p>
					<a style="color: rgb(62, 62, 255);">Pelaksanaan kegiatan Pra-Studi</a>
					<a style="color: #000;"> dilaksanakan di 1 lokasi</a>
				   
				</p>
				<div>
					<p style="color: #000;">Fakultas ekonomi  dan komputer dilaksanakan di <b style="color: #000;"> Gedung  Kampus Pajajaran</b>
				</div>
			</div>
		</div>
	
	</div>
	<!-- Timeline end -->
	</div>
	</div>
	</div>
	</div>
	</div>

	  </div>
	
	
	
		
	
	
		



</ion-content>
